body{
    margin:0 ;
    padding: 0;
}
h1{
    color: navy;
}
.form{
    border-radius: 5px;
    border-left: 5px solid grey;
    border-top: 5px solid grey;
    padding: 5rem;
}
.content{
    border-radius: 5px;
    border-top: 5px solid grey;
}
#theading{
    background-color: lightblue;
}
#fname,#lname,#email,#country,#city,#state{
    border-radius: 5px;
}
#rec{
    border: none;
    padding: 25%;
    font-weight: 700;
    color: white;
    background-color: rgb(87, 142, 238);
    border-radius: 5px;
}